/* Global */
body {
    background-color: #28363D;
}

img {
    max-width: 100%;
    display: block;
}


/* Mobile */

#container {
    margin: 10px;
}

header {
    background-image: url('../images/animal-6924664_960_720.webp');
    background-size: cover;
    padding: 70px 0;
    border-bottom: 4px solid black;
}

header h1 {
    color: orangered;
    text-shadow: 3px 3px 3px black;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: block;

}

nav li a {
    display: block;
    background-color: #6D9197;
    border: 4px solid black;
    padding: 10px;
    height: 10px;
    line-height: 10px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
    border-radius: 10px;
    color: black;
}

nav li a:hover {
    background-color: grey;
    text-shadow: 1px 1px 1px black;
    color: white;
}

nav, section, aside, .col, footer {
    background-color: #658B6F;
    padding: 20px;
    margin: 10px;
    border: 4px solid black;
}

h2, h3 {
    color: black;
    text-shadow: 2px 2px 2px black;
    font-size: 1.15em;text-align: center;
}

section img, aside img {
    width: 95%;
}

.button {
    display: block;
    background-color: #6D9197;
    border: 4px solid black;
    padding: 5px;
    height: 10px;
    width: 175px;
    line-height: 10px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 10px;
    color: black;
}

.button:hover {
    background-color: grey;
    text-shadow: 2px 2px 2px black;
}

footer {
    text-align: center;
    font-size: .75em;
    margin-top: 20px;
    padding: 5px;
}

/* Tablet */



/* Desktop */


