body {
    background-color: #A6A6A6;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    color: black;
}

/* Mobile */

    #container {
        margin:10px;
    }

    header {
        background-image: url('../images/structure_p03_02.jpg');
        text-align: center;
        background-size: cover;
        padding: 100px 0;
    }

    header h1 {
        text-align: center;
        color: black;
        margin: 20px 0 20px 0;
    }

    nav {
        background-color: #595959;
        border: 4px solid black;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    nav ul li {
        display: block;
    }

    nav li a {
        display: block;
        background-color: #263a3d;
        border: 4px solid black;
        padding: 10px;
        height: 10px;
        line-height: 10px;
        margin: 10px 5px 10px 5px;
        text-align: center;
        text-decoration: none;
        font-size: 1.25em;
        color: rgb(247, 247, 247);
    }
    nav ul li a:hover {
        background-color: grey;
        text-shadow: 1px 1px 1px black;
        color: white;
     }

     footer {
         margin: 20px auto;
     }

     .col, footer {
        background-color: #324c50;
        padding: 20px;
        margin: 10px;
        border: 4px solid black;
     }

     .col img {
        border: 2px solid black;
     }

     .col h2 {
         text-decoration: underline;
     }

     h2, h3 {
        color: black;
        text-shadow: 1px 0px 2px black;
        font-size: 1.5em;
        text-align: center;
     }
    .button {
        display: block;
        background-color: #706b6b;
        border: 4px solid black;
        padding: 5px;
        height: 10px;
        width: 175px;
        line-height: 10px;
        margin: 10px auto;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        border-radius: 10px;
        color: black;
        }

    .button:hover {
        background-color: grey;
        text-shadow: 2px 2px 2px black;
    }

    footer {
        text-align: left;
        font-size: .75em;
        margin-top: 15px;
        padding: 2.5px;
    }
/* Tablet */



/* Desktop */


