/* Global */

body {
    background-color: #466273;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3 {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.active {
    background-color: grey;
}

.csec h2 {
    text-decoration: underline;
    font-size: 2.5em;
}

/* Mobile */

#container {
    margin: 10px;
}

header {
    background-image: url(..//images/structure_p03_02.jpg);
    background-size: cover;
    padding: 70px 0px;
    border: 4px solid black;
}

header h1 {
    color: black;
    text-align: center;
    max-width: 100%;
    margin: 5px auto;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

nav ul li {
    display: block;
}

nav li a {
    display: block;
    background-color: rgb(12, 12, 49);
    padding: 15px;
    height: 10px;
    line-height: 10px;
    margin: 10px 0 10px 0;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 10px;
    color: whitesmoke;
}

nav li a:hover {
    background-color: grey;
    color: whitesmoke;
}

nav, section, aside, .col, footer {
    background-color: #406379;
    padding: 15px;
    margin: 10px;
    border: 4px solid black;
}

.csec {
    margin: auto;
    padding: 50px;
}

h2, h3 {
    font-size: 1.75em;
    text-align: center;
}

section img, aside img {
    width: 100%;
}

.button {
    display: block;
    background-color: rgb(12, 12, 49);
    border: 4px solid black;
    height: 10px;
    width: 180px;
    padding: 5px;
    line-height: 10px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
    border-radius: 10px;
    color: white;
}

.button:hover {
    background-color: grey;

}

footer {
    padding: 8px;
    text-align: center;
    font-size: .5em;
    margin-top: 15px;
}

.single_col {
    width: 80%;
}

audio, iframe {
    display: block;
    margin: 25px auto;
    width: 100%;
    border: 4px solid black;
}

audio {
    border-radius: 100px;
}

.gallery_img {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px auto;
    width: 85%;
}

table {
    display: none;
}


/* Tablet */

@media(min-width: 768px) {
    header {
        padding: 160px;

    }

    header h1 {
        font-size: 3em;

    }

    nav {
        text-align: center;
    }

    nav ul li {
        display: inline-block;
    }
    
    nav li a {
        width: 175px;
        height: 55px;
        line-height: 55px;
    }
    
    #upperflex {
        display: flex;
    }
    
    section, aside {
        width: 53%;
    }
    
    aside img {
        width: 100%;
    }
    
    .col img {
        border: 4px solid black;
        margin: 12px auto;
        width: 75%;
        
    }
    
    .single_col{
        width: 94%;
    }
}

/* Desktop */

@media(min-width: 1024px) {
    #container {
        width: 77%;
        margin: 21px auto;
        border: 4px solid black;
        border-radius: 25px;

    }

    header {
        border-radius: 20px 20px 20px 20px;
    }

    nav li a {
        margin: 10px 10px;
    }

    #lowerflex {
        display: flex;
    }

    .col img {
        width: 100%;

    }

    .col {
        width: 100%;
        
    }

    .single_col {
        width: 100%;
    }

    table, td, tr {
        border: 4px solid black;
        padding: 10px;
        margin: 10px auto;

    }

    table img {
        width: 100%;
    }

    .gallery {
        display: none;
    }

    table {
        display: block;
    }

}
